<div class="row">
	<menu [menuOptions]="['Done', 'Save', 'Cancel']" (optionSelected)="menu($event)"></menu>
</div>
<div class="row" style="display:flex">
	<h1 style="color: white;
font-size: 60px;
margin-right: 40px;">New Match</h1>
</div>

<form [formGroup]="formGroup" (ngSubmit)="addMatch(newMatch.status)">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div id="newmatch">
				<div class="form-group form-inline text-left">
					<div class="form-group" style="width:90%">
						<input id="name" style="width:100%" formControlName="name" type="text" [(ngModel)]="newMatch.name" placeholder="Name" class="input-lg form-control">
					</div>
					<div *ngIf="formErrors.name" class="alert alert-danger">
						{{ formErrors.name }}
					</div>
					<button type="button" class="btn btn-lg btn-primary" (click)="newMatch.status = (newMatch.status ==='private')? 'public' : 'private';">{{newMatch.status}}</button>
				</div>
				<div id="field">
					<div class="simple-row" *ngIf="!fieldFocus" (click)="fieldFocus=true">
						<div class="title">Field</div>
						<div class="data">{{newMatch._field.name}}</div>
					</div>
					<div class="full-row" *ngIf="fieldFocus">
						<div style="width:30%">
							<div class="form-group" >
								<input #searchBox formControlName="field" type="text" (focus)="users = []" (keyup)="searchFields(searchBox.value);onKeyEventField($event)"
									[(ngModel)]="fieldNameSearch" placeholder="Search field" class="form-control">
								<ul class="list-group search-popup">
									<li (click)="newMatch._field = field;fieldNameSearch = field.name; fields = []" *ngFor="let field of fields" class="list-group-item">{{field.name}}</li>
								</ul>
								<div *ngIf="formErrors.field" class="alert alert-danger">
									{{ formErrors.field }}
								</div>
							</div>
						</div>
						<div style="width:40%">
							<div class="title">{{newMatch._field.name}}</div>
							<div style="display:flex">
							<div style="width:50%">
								<div class="data">Size {{newMatch._field.size}}</div>
								<div class="data">Rating {{newMatch._field.rating}}</div>
							</div>
							<div style="width:50%">
								<div class="data">Address {{newMatch._field.address}}</div>
								<div class="data">phone {{newMatch._field.phoneNumber}}</div>
							</div>
							</div>
						</div>
						<div style="width:30%">
							<map *ngIf="newMatch._field" [field]="newMatch._field">Loading...</map>
						</div>
					</div>
				</div>
				<div id="date">
					<div class="simple-row" *ngIf="!dateFocus" (click)="dateFocus=true">
						<div class="title">Date & time</div>
						<div class="data">{{newMatch.date | date:'short'}}</div>
					</div>
					<div class="full-row" *ngIf="dateFocus" >
						<div class="title">Date & time</div>
						<div class="form-group form-inline text-left">
							<div class="form-group">
								<input formControlName="date" id="date" type="date" [(ngModel)]="date" placeholder="Date" class="form-control"/>
							</div>
							<div class="form-group">
								<input formControlName="time" type="time" [(ngModel)]="time" placeholder="Time" class="form-control">
							</div>
						</div>
						<div *ngIf="formErrors.date" class="alert alert-danger">
							{{ formErrors.date }}
						</div>
					</div>
				</div>
				<div id="players">
					<div class="simple-row" *ngIf="!playersFocus" (click)="playersFocus=true">
						<div class="title">Players</div>
						<div class="data">{{newMatch.players.length}}/{{2*newMatch._field.size}}</div>
					</div>
					<div class="full-row" *ngIf="playersFocus">
						<div class="form-group">
							<div class="player-input">
								<input #searchBox2 formControlName="players" type="text" (focus)="fields = []" (keyup)="searchUsers(searchBox2.value);onKeyEventUser($event)"
									[(ngModel)]="userEmailSearch" placeholder="Players" class="form-control players">
								<button type="button" class="btn btn-xs btn-input btn-primary " *ngIf="selectedUser.email" (click)="addPlayer(selectedUser)">add</button>
							</div>
							<ul class="list-group search-popup">
								<li (click)="selectedUser = user;userEmailSearch=user.email;users = []" *ngFor="let user of users" class="list-group-item">{{user.email}}</li>
							</ul>
						</div>
						<table class="table table-hover table-condensed">
							<tbody>
								<tr *ngFor="let player of newMatch.players">
									<td>{{player._user.email}}</td>
									<td class="table-buttons">
										<div class="btn-group">
											<button [class.active]="player.admin" type="submit" class="btn btn-xs btn-default" (click)="player.admin = !player.admin">Admin</button>
											<button [class.active]="player.alter" type="button" class="btn btn-xs btn-primary" (click)="player.alter = !player.alter">Alter</button>
										</div>
										<button type="button" class="btn btn-xs btn-primary" (click)="removePlayer(player)"><i class="fa fa-close"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				
			</div>
		</div>
	</div>
</form>